SUPABASE_ANON_KEY=SUPABASE_ANON_KEY
SUPABASE_URL=https://URL_DEL_PROYECTO.supabase.co/
NEXT_PUBLIC_SITE_URL=https://tu-dominio.com
NEXT_PUBLIC_TURNSTILE_SITEKEY=tu_sitekey_de_cloudflare
TURNSTILE_SECRET_KEY=tu_secret_key_de_cloudflare
